* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --bg-main: #f7f7f5;
  --bg-secondary: #e5ebf3;
  --primary: #043f5d;
  --secondary: #0d9ecb;

  /* Cuadrícula para el mapa de materias */
  --columna-1: 104px;
  --columna-2: 190px;
  --columna-3: 276px;
  --columna-4: 366px;
  --columna-4-2: 359px;
  --columna-5: 458px;
  --columna-5-2: 452px;
  --columna-6: 555px;
  --columna-6-2: 549px;
  --columna-7: 653px;
  --columna-8: 745px;
  --columna-9: 829px;

  --fila-1: 61px;
  --fila-2: 132px;
  --fila-3: 188px;
  --fila-4: 266px;
  --fila-5: 320px;
  --fila-6: 390px;
  --fila-7: 445px;
  --fila-8: 501px;
  --fila-9: 552px;
}

body {
  background-color: var(--bg-main);
  color: var(--primary);
  font-size: 1.2rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-cover {
  width: 70%;
  background-image: url(../img/cover.jpg);
  background-size: cover;
}

.logo img {
  height: 40px; /* ajusta la altura según el tamaño de tu logo */
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
  transition: transform 0.3s ease; /* Transición en transform */
}

.nav-links li a {
  color: var(--primary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición en color de fondo y color de texto */
}

.nav-links li a:hover {
  background-color: var(--secondary);
  color: white;
  transform: translateY(-3px); /* Desplazamiento hacia arriba en hover */
}

.dashboard {
  /*position*/
  position: fixed;
  top: 380px;
  left: 140px;
  width: 250px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 1rem;
  background-color: var(--primary);
  height: 85vh;
  padding: 1rem;
}

.dashboard li {
  margin: 1rem;
  list-style-type: none;
  transition: transform 0.3s ease; /* Transición en transform */
}

.dashboard li a {
  color: white;
  padding: 10px 20px;
  border-radius: 100rem;

  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición en color de fondo y color de texto */
}

.dashboard li ul {
  margin: 15% 0;
}

.dashboard li a:hover {
  background-color: var(--bg-secondary);
  color: var(--primary);
  border-radius: 100rem;
  transform: translateY(-3px); /* Desplazamiento hacia arriba en hover */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.content {
  position: relative;
  top: 67px;
  width: 100%;
  height: 100%;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0;
  -webkit-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.13);
  box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.13);
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}

#logo-buap {
  width: 130px;
  height: 130px;
}

.table-main {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10rem;
  border-radius: 5px 5px 0px 0px !important;
  -moz-border-radius: 5px 5px 0px 0px !important;
  -webkit-border-radius: 5px 5px 0px 0px !important;
}

.table-main th,
.table-main td {
  padding: 0.5rem;
  text-align: center;
}

.table-main th {
  color: var(--primary);
  background-color: var(--bg-secondary);
}

.table-main tr:nth-child(even) {
  background-color: white;
}

.mapa {
  position: relative;
  background-image: url(../img/mapa.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 900px;
  height: 700px;
}

.btn {
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición en color de fondo */
}

.btn:hover {
  background-color: var(--secondary);
}

.btn:hover {
  background-color: var(--secondary);
}

#buscador {
  width: 60%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  border: 1px solid var(--secondary);
}

.panel {
  position: relative;
  top: 25px;
  left: 280px;
  width: 76%;
  padding: 1rem;
}
.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-text {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  border: 1px solid var(--secondary);
}

.btn-asignatura {
  position: absolute;
  font-size: 8px;
  border-radius: 2px;
  background-color: var(--secondary);
  width: 70px;
  height: 45px;
  padding: 0.5px;
  border-style: none;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Transición en transform, color de fondo y color de texto */
  color: white;
}

.btn-asignatura:hover {
  transform: scale(1.1); /* Agrega un efecto de escala al hacer hover */
  background-color: var(--primary);
  color: white;
}

.btn-asignatura:disabled {
  background-color: #ffdfdf;
  color: var(--primary);
}

#btn-1 {
  top: var(--fila-1);
  left: 104px;
}

#btn-13 {
  top: 266px;
  left: var(--columna-1);
}

#btn-20 {
  top: var(--fila-5);
  left: var(--columna-1);
}

#btn-34 {
  top: 500px;
  left: var(--columna-1);
}

#btn-39 {
  top: var(--fila-9);
  left: var(--columna-1);
}

#btn-2 {
  top: var(--fila-1);
  left: var(--columna-2);
}

#btn-7 {
  top: var(--fila-2);
  left: var(--columna-2);
}

#btn-14 {
  top: var(--fila-4);
  left: var(--columna-2);
}

#btn-21 {
  top: var(--fila-5);
  left: var(--columna-2);
}

#btn-35 {
  top: var(--fila-8);
  left: var(--columna-2);
}

#btn-40 {
  top: var(--fila-9);
  left: var(--columna-2);
}

#btn-3 {
  top: var(--fila-1);
  left: var(--columna-3);
}

#btn-8 {
  top: var(--fila-2);
  left: var(--columna-3);
}

#btn-15 {
  top: var(--fila-4);
  left: var(--columna-3);
}

#btn-29 {
  top: 441px;
  left: 279px;
}

#btn-41 {
  top: var(--fila-9);
  left: var(--columna-3);
}

#btn-4 {
  top: var(--fila-1);
  left: var(--columna-4);
}

#btn-9 {
  top: var(--fila-2);
  left: var(--columna-4);
}

#btn-16 {
  top: var(--fila-4);
  left: var(--columna-4-2);
}

#btn-22 {
  top: 319px;
  left: var(--columna-4-2);
}

#btn-42 {
  top: var(--fila-9);
  left: var(--columna-4-2);
}

#btn-5 {
  top: var(--fila-1);
  left: var(--columna-5);
}

#btn-11 {
  top: var(--fila-3);
  left: 455px;
}

#btn-17 {
  top: var(--fila-4);
  left: var(--columna-5-2);
}

#btn-23 {
  top: 320px;
  left: 451px;
}

#btn-26 {
  top: var(--fila-6);
  left: var(--columna-5-2);
}

#btn-6 {
  top: var(--fila-1);
  left: var(--columna-6);
}

#btn-12 {
  top: var(--fila-3);
  left: var(--columna-6-2);
}

#btn-18 {
  top: var(--fila-4);
  left: var(--columna-6-2);
}

#btn-24 {
  top: 322px;
  left: var(--columna-6-2);
}

#btn-27 {
  top: var(--fila-6);
  left: var(--columna-6-2);
}

#btn-30 {
  top: var(--fila-7);
  left: var(--columna-6-2);
}

#btn-19 {
  top: var(--fila-4);
  left: var(--columna-7);
}

#btn-25 {
  top: 321px;
  left: var(--columna-7);
}

#btn-31 {
  top: var(--fila-7);
  left: var(--columna-7);
}

#btn-36 {
  top: var(--fila-8);
  left: var(--columna-7);
}

#btn-43 {
  top: 557px;
  left: var(--columna-7);
}

#btn-28 {
  top: var(--fila-6);
  left: var(--columna-8);
}

#btn-32 {
  top: 449px;
  left: var(--columna-8);
}

#btn-37 {
  top: var(--fila-8);
  left: var(--columna-8);
}

#btn-44 {
  top: 557px;
  left: var(--columna-8);
}

#btn-10 {
  top: var(--fila-2);
  left: var(--columna-9);
}

#btn-33 {
  top: 449px;
  left: var(--columna-9);
}

#btn-38 {
  top: var(--fila-8);
  left: var(--columna-9);
}

/* colores de las materias */
.color-red {
  background-color: #df3a3a;
}
