* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --bg-main: #f7f7f5;
  --bg-secondary: #e5ebf3;
  --primary: #043f5d;
  --secondary: #0d9ecb;
}

body {
  background-color: var(--bg-main);
  color: var(--primary);
  font-size: 1.2rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-cover {
  width: 70%;
  background-image: url(../img/cover.jpg);
  background-size: cover;
}

.logo img {
  height: 40px; /* ajusta la altura según el tamaño de tu logo */
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
  transition: transform 0.3s ease; /* Transición en transform */
}

.nav-links li a {
  color: var(--primary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición en color de fondo y color de texto */
}

.nav-links li a:hover {
  background-color: var(--secondary);
  color: white;
  transform: translateY(-3px); /* Desplazamiento hacia arriba en hover */
}

.dashboard {
  /*position*/
  position: fixed;
  top: 380px;
  left: 140px;
  width: 250px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 1rem;
  background-color: var(--primary);
  height: 85vh;
  padding: 1rem;
}

.dashboard li {
  margin: 1rem;
  list-style-type: none;
  transition: transform 0.3s ease; /* Transición en transform */
}

.dashboard li a {
  color: white;
  padding: 10px 20px;
  border-radius: 100rem;

  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición en color de fondo y color de texto */

}

.dashboard li ul {
margin: 15% 0;
}

.dashboard li a:hover {
  background-color: var(--bg-secondary);
  color: var(--primary);
  border-radius: 100rem;
  transform: translateY(-3px); /* Desplazamiento hacia arriba en hover */

}

.container {
  max-width: 100%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.content {
  position: relative;
  top: 67px;
  width: 100%;
  height: 100%;
}

.card-box {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

#logo-buap {
  width: 130px;
  height: 130px;
}

.btn {
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.panel {
  position: relative;
  top: 25px;
  left: 280px;
  width: 76%;
  padding: 1rem;

}
.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-text {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
  border: 1px solid var(--secondary);
}

